body {
}

nav {
    display: flex;
}

.nav__menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav__logo {
    text-align: left;
    margin-right: 80px;
}

.nav__logo-a {
    color: #000;
    display: inline-block;
}

.nav__logo-a:hover {
    text-align: left;
    color: #000;
    text-decoration: none;
}

.nav__logo-1 {
    font-size: 2.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo-1-and {
    font-size: .7em;
    margin: 0 8px;
}

.nav__logo-1-o>u {
    font-size: .7em;
    position: relative;
    top: -4px;
    left: 4px;
}

.nav__menu-a {
    display: inline-block;
    width: 70%;
    color: #555;
}

.nav__menu-a:hover {
    display: inline-block;
    width: 70%;
    color: #555;
    text-decoration: none;
    color: rosybrown;
}